:root {
  --primary-font: "Poppins", sans-serif;
  --primary-color: #ff8f2a;
  --secondary-color: #0093b3;
  --secondary-color-rgba: rgba(0, 147, 179, 0.5);
  --primary-dark: #2e2e2e;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0.8rem;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  font-weight: 300;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
table,
td,
tr,
span {
  font-family: var(--primary-font);
  font-weight: 400;
}

/**
* Defaults
**/

.btn-padrao {
  color: #fff;
  background-color: var(--primary-color);
  border: solid 2px #ff8f2a;
  border-radius: 0;
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem;
}

.btn-padrao:hover {
  color: #ff8f2a;
  border: solid 2px #ff8f2a;
  background-color: transparent;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.9s;
}

.section-background {
  background-color: #eeee;
}

.home #cabecalho {
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 2rem;
}

#cabecalho .logo {
  max-height: 80px;
}

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.saiba-mais {
  justify-content: center;
}

.saiba-mais a {
  max-width: 400px;
  font-size: 2rem;
}

/* header */

.header nav {
  margin: 4rem 0;
  list-style: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
}

.header li a {
  display: block;
  padding: 2rem;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 2em;
  position: relative;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: var(--primary-color);
}

.header.cabecalho__fundo--branco {
  background-color: #fff;
}

.page .header.cabecalho__fundo--branco {
  padding: 2rem 0;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--primary-color);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.6s ease-out;
  width: 4rem;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--primary-color);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 10px;
}

.header .menu-icon .navicon:after {
  top: -10px;
}

.header.cabecalho__fundo--branco a {
  color: #000;
}

.breadcrumb {
  padding: 2rem 0;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 22rem;
  margin-top: 2rem;
}

@media (max-width: 61.9em) {
  .breadcrumb {
    padding: 0;
    margin-top: -6rem;
  }
}

.breadcrumb h1 {
  padding: 6rem 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3.2rem;
  padding-bottom: 1.4rem;
}

.breadcrumb-item {
  padding: 0 2rem;
  color: #fff;
  font-size: 2.2rem;
}

.header.cabecalho__fundo--branco .breadcrumb-item a {
  color: #fff;
  text-decoration: none;
}

.header.cabecalho__fundo--branco .breadcrumb-item a:hover {
  color: var(--primary-color);
}

.header.cabecalho__fundo--branco .breadcrumb-item span {
  color: var(--primary-color);
  opacity: 0.8;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  min-height: 48rem;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 991px */

@media (min-width: 61.9em) {
  .header nav {
    background-color: unset;
    margin: 0;
  }

  .header li a:hover,
  .header .menu-btn:hover {
    background-color: unset;
    color: var(--primary-color);
  }

  .header li {
    float: left;
  }
  .header li a {
    padding: 2.2rem 1.6rem;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.cabecalho__main {
  padding: 7rem;
  text-align: center;
}

.cabecalho__main h2,
.cabecalho__main h3 {
  color: #fff;
  font-weight: bold;
  font-family: var(--primary-font);
  margin: 1.6rem 0;
  font-size: 6rem;
}

.cabecalho__main h3 {
  color: var(--primary-color);
}

/*
* Padrao das sections
*/

.section-padrao h2.titulo {
  padding-top: 3.2rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: bold;
}

.page .section-padrao h2.titulo {
  padding-bottom: 1.4rem;
}

.page .section-padrao h3.subtitulo {
  text-align: center;
}

.section-padrao p {
  font-size: 1.8rem;
  text-align: justify;
  text-indent: 1.4rem;
}

.page .section-padrao p {
  padding: 2rem 4rem;
}

/**
* home
**/

.home__sobre-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home__sobre h2 {
  padding-bottom: 8rem;
}

.home__sobre-feature img {
  height: 8rem;
  margin-bottom: 2rem;
}

.home__sobre-feature h3 {
  font-size: 2em;
  font-weight: bold;
  color: var(--primary-color);
}

.home__sobre-feature p {
  text-align: center;
}

#home__atividades h4 {
  text-align: center;
  margin: 2rem 0;
}

.home__atividades-item {
  background: #fff;
  border-radius: 1.2rem;
  -webkit-box-shadow: -1px 3px 25px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 25px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 25px -13px rgba(0, 0, 0, 0.75);
  padding: 0;
}

.home__atividades-item .atividade-cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem;
  background: var(--primary-color);
  border-radius: 1.2rem 1.2rem 0px 0px;
}

.home__atividades-item.palestra-item .atividade-cabecalho {
  background-color: var(--secondary-color);
}

.home__atividades-item .atividade-cabecalho img {
  height: 4rem;
}

.home__atividades-item .atividade-cabecalho h3 {
  font-weight: bold;
  color: #fff;
}

.atividade-conteudo {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.atividade-conteudo .atividade-conteudo-rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.atividade-conteudo .atividade-conteudo-rodape strong {
  font-size: 2rem;
  font-weight: bold;
}

.atividade-conteudo .atividade-conteudo-rodape time {
  font-size: 1.8rem;
}

/**
** Data
**/

#home__data {
  padding: 12rem 0 !important;
}

.home__data--col-1,
.home__data--col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 12rem;
}

.home__data--col-1 h3 {
  font-weight: bold;
  margin-bottom: 2.6rem;
  font-size: 2.8rem;
  text-align: center;
}

.home__data--col-2 h2 {
  font-weight: bold;
  font-size: 3.2rem;
  margin-bottom: 4rem;
}

.home__data--col-2 h4,
.home__data--col-2 h5,
.home__data--col-2 h6 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.home__data--col-2 h4 {
  font-weight: bold;
}

.home__data--col-2 {
  color: #fff;
}

.home__data--col-1 p {
  text-align: center;
}

.home__data--col-1 {
  background: var(--primary-color);
  max-height: 20rem;
}

.home__data--col-2 {
  min-height: 30rem;
  background-color: var(--secondary-color);
}

#home__data .row {
  align-items: center;
}

/** Sobre **/

/*** Team **/
.our-team .pic {
  border-top: 5px solid #ff8e72;
  border-bottom: 5px solid #ff8e72;
  border-radius: 50% 50% 50% 0;
  overflow: hidden;
  transition: all 0.5s ease 0s;
}
.our-team:hover .pic {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  border-radius: 50% 0;
}
.our-team .pic img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease 0s;
}
.our-team .team-content {
  padding: 2rem 0;
}
.our-team .title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}
.our-team .post {
  display: block;
  font-size: 1.8rem;
  color: #878484;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.our-team .social {
  list-style: none;
  padding: 0;
  margin: 0;
}
.our-team .social li {
  display: inline-block;
  margin-right: 1.2rem;
}
.our-team .social li a {
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  line-height: 3.6rem;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  background: #fff;
  font-size: 1.6rem;
  color: var(--primary-color);
  text-align: center;
  transition: all 0.5s ease 0s;
  text-decoration: none;
}
.our-team:hover .social li a {
  background: var(--primary-color);
  color: #fff;
}

.our-team:hover .social li a:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 30px;
  }
}

/** Programacao **/

.programacao__fisol-item .card {
  position: relative;
}

.programacao__fisol-item .local {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: var(--primary-color);
  padding: 0.6rem 2rem;
  border-radius: 2rem;
}

.programacao__fisol-item h2 {
  text-align: center;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 2.2rem;
  margin-top: 1.2rem;
}

.programacao__fisol-item .card-body .card-text {
  padding: 1.2rem;
}

.programacao__fisol-item .card-footer {
  display: flex;
  justify-content: space-between;
  padding: 1.1rem;
}

.programacao__fisol-item .card-footer p {
  margin: 0;
  padding: 0.4rem 0;
}

.programacao__fisol-item .card-footer p span {
  font-weight: bold;
  color: var(--primary-color);
}

.programacao__fisol-item .card-footer .btn {
  display: flex;
  max-height: 4.2rem;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

/** Single **/

.single {
  background-color: #f6f6f6;
}

.single article {
  background-color: #fff;
  padding: 0;
  border-radius: 0.8rem;
}

.single .breadcrumb {
  margin-bottom: 0;
}

.single .row {
  margin: 8rem 0;
}

.single .single__conteudo-featured {
  width: 100%;
  height: 40rem;
  margin-bottom: 2rem;
}

.single .single__conteudo-featured img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
  border-radius: 0.8rem 0.8rem 0 0;
}

.single .single__conteudo-conteudo {
  padding: 2rem;
}

.single .single__conteudo-conteudo .titulo-negrito {
  font-weight: bold;
}

.single .single__conteudo-conteudo .titulo-laranja {
  color: var(--primary-color);
}

.single .single__conteudo-conteudo span,
.single .single__conteudo-conteudo blockquote,
.single .single__conteudo-conteudo a,
.single .single__conteudo-conteudo p {
  font-size: 1.6rem;
}

.single .single__conteudo-conteudo blockquote {
  padding: 1.4rem;
  background-color: #eee;
  margin: 1rem 0;
  -webkit-box-shadow: 1px 3px 13px -2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 1px 3px 13px -2px rgba(0, 0, 0, 0.27);
  box-shadow: 1px 3px 13px -2px rgba(0, 0, 0, 0.27);
}

.single code {
  display: block;
  margin: 2rem 0;
  font-size: 1.6rem;
  padding: 2rem;
  border-left: 5px solid #7f67f7;
  background: #2f1e2e;
  color: #a39e9b;
  border-radius: 2px;
  white-space: pre-wrap;
}

.single iframe {
  width: 100% !important;
  height: 400px !important;
}

.single .single__conteudo-conteudo a {
  color: var(--primary-color);
  text-decoration: none;
}

.single .single__conteudo-conteudo a:hover {
  text-decoration: underline;
}

.single .single__conteudo-conteudo iframe {
  margin: 2rem 0;
}

.single .single__conteudo-conteudo h2 {
  font-size: 4rem;
}
.single .single__conteudo-conteudo h3 {
  font-size: 3rem;
}

.single .single__conteudo-conteudo h4 {
  font-size: 2rem;
}
.single .single__conteudo-conteudo h5 {
  font-size: 1.8rem;
}

.single .single__conteudo-conteudo h6 {
  font-size: 1.6rem;
}

.single sidebar {
  background-color: #fff;
  max-width: 36rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 0.8rem;
}

@media (max-width: 61.9em) {
  .single sidebar {
    margin: 2rem 0;
    max-width: unset;
  }
}

.single .single__sidebar-cabecalho {
  border-bottom: 1px solid var(--secondary-color);
  padding: 2rem 0;
}

.single .single__sidebar-cabecalho h3 {
  font-weight: bold;
  font-size: 2rem;
}

.single__sidebar__item {
  display: flex;
  align-items: flex-start;
  padding: 2rem 0;
  border-bottom: 1px solid var(--secondary-color-rgba);
}

.single__sidebar__item-icon i {
  margin-right: 3.2rem;
  font-size: 2.2rem;
  color: var(--primary-color);
}

.single__sidebar__item-subtitulo {
  color: #888;
}

.single__sidebar__item-titulo {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

/** 404 **/

.error404 i {
  font-size: 6rem;
  color: var(--secondary-color);
  margin-bottom: 2rem;
}
.error404 .subtitulo {
  text-align: center;
  font-size: 3.2rem;
}

.error404 .saiba-mais a {
  min-width: 46rem;
}

/** Footer **/

#footer-principal {
  padding: 6rem 0 4rem 0;
  background-color: var(--primary-dark);
}

#footer-principal hr {
  color: #fff;
}

.footer__menu-titulo {
  color: #fff;
  font-weight: 500;
  font-size: 2.6rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.footer__menu nav a {
  color: #fff;
  font-size: 1.6rem;
  position: relative;
}

.footer__menu nav:not(.redes) a::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 0px;
  height: 2px;
  background-color: var(--primary-color);
  left: 1rem;
}

.footer__menu nav:not(.redes) a:hover {
  color: var(--primary-color);
}
.footer__menu nav:not(.redes) a:hover::after {
  width: 32%;
  transition: all ease-in-out 0.2s;
}

.footer__menu .redes a img {
  height: 4rem;
  width: auto;
  cursor: pointer;
  margin: 2rem;
}

.footer__menu .redes a:hover img {
  height: 4.2rem;
  transition: all 0.2s;
}

.footer-copy {
  justify-content: space-between;
  padding-top: 1.4rem;
}

.footer-copy h3 {
  color: #fff;
  font-weight: bold;
}

.footer-copy a {
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
}
.footer-copy a:hover {
  color: var(--primary-color);
}
